<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="de.prob.eventb.disprover.core.DisproverReasoner"
            id="disproverReasoner"
            name="%reasoner.name">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="de.prob.eventb.disprover.core.internal.DisproverAutoTactic"
            description="%autotactic.desc"
            id="disproverTactic"
            name="%autotactic.name">
      </autoTactic>
   </extension>

</plugin>
