<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eventb.ui.proofTactics">
  <!--    <tactic
            dropdown="de.prob.eventb.disprover.ui.DisproverDropdown"
            icon="icons/disprover-relevant-context.png"
            id="de.prob.eventb.disprover.ui.disproverRelevantContextTactic"
            interrupt="true"
            name="%tactic.disprover.name"
            priority="9"
            tacticProvider="de.prob.eventb.disprover.ui.DisproverRelevantHypothesesAndContextTacticProvider"
            target="global"
            tooltip="%tactic.disprover.tooltip-relevant-context" />
     -->       
      <dropdown
            id="de.prob.eventb.disprover.ui.dropdown"
            name="ProB (Dis-)Prover"
            priority="10"
            toolbar="org.eventb.ui.sequentToolbar">
      </dropdown>
      <tactic
            dropdown="de.prob.eventb.disprover.ui.dropdown"
            icon="icons/disprover-all.png"
            id="de.prob.eventb.disprover.ui.disproverTactic"
            interrupt="true"
            name="%tactic.disprover.name"
            priority="10"
            tacticProvider="de.prob.eventb.disprover.ui.DisproverTacticProvider"
            target="global"
            tooltip="%tactic.disprover.tooltip">
      </tactic>
      <tactic
            dropdown="de.prob.eventb.disprover.ui.dropdown"
            icon="icons/disprover-all.png"
            id="de.prob.eventb.disprover.ui.disproverExtendedTimeoutTactic"
            interrupt="true"
            name="%tactic.disprover.extended_timeout.name"
            priority="10"
            tacticProvider="de.prob.eventb.disprover.ui.DisproverExtendedTimeoutTacticProvider"
            target="global"
            tooltip="%tactic.disprover.extended_timeout.tooltip">
      </tactic>
   <!--      <tactic
            dropdown="de.prob.eventb.disprover.ui.DisproverDropdown"
            icon="icons/disprover-config.png"
            id="de.prob.eventb.disprover.ui.disproverConfigTactic"
            interrupt="true"
            name="%tactic.disprover.name"
            priority="9"
            tacticProvider="de.prob.eventb.disprover.ui.DisproverConfigTacticProvider"
            target="global"
            tooltip="%tactic.disprover.tooltip-config" />
      <tactic
            dropdown="de.prob.eventb.disprover.ui.DisproverDropdown"
            icon="icons/disprover-relevant.png"
            id="de.prob.eventb.disprover.ui.disproverRelevantHypothesesTactic"
            interrupt="true"
            name="%tactic.disprover.name"
            priority="9"
            tacticProvider="de.prob.eventb.disprover.ui.DisproverRelevantHypothesesTacticProvider"
            target="global"
            tooltip="%tactic.disprover.tooltip-relevant" /> -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="probpreferences"
            class="de.prob.eventb.disprover.ui.DisproverPreferences"
            id="de.prob.ui.probclassic"
            name="ProB (Dis-)Prover">
      </page>
   </extension>

</plugin>
